* {
   
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

#grid_container {
    display: grid;
    grid-template-rows: auto auto 1fr auto; /* can redesign to 2 column */
    gap: 2px;
    background-color: rgba(0,0,1,.4);
    min-width: 80vw;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: baseline; /* keeps baseline alignment */
    justify-content: flex-end; /* pushes content to the right */
    padding: 10px;
}

nav {
    display: flex;
    background: rgba(0,0,1,.4); /* Hover needs to be fixed */
    border-radius: 2px;
    font-size: 1.5rem;
    max-height: 100px;
    justify-content: center;
}
nav ul {
    list-style: none;
    display: flex;       /* makes it a flex container */
    justify-content: center;
    gap: 20px;           /* spacing between menu items */
    padding: 0;
    margin: 0;
}
nav li {
    display: flex;       /* so align-items and justify-content work */
    align-items: center;
    justify-content: center;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: white;
    transform: scale(2);

}

main {
    background:  rgba(0,0,1,.7);
    font-size: 1.8rem;
}
main ol {
    list-style: circle;
}

main  a {
    text-decoration: none;
    color: white;
}

main  a {
    text-decoration: none;
    color: white;
}

main  a:hover {
    text-decoration: none;
    color: rgba(135, 104, 0, 0.582);
}

aside {
    font-size: 1.9rem;
    color: rgba(135, 104, 0, 0.582);
    text-decoration: underline;
    border: 1px solid rgba(135, 104, 0, 0.582);
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(135, 104, 0, 0.582);
    padding: 10px;
}
.back-btn {
    display: inline-block;
    width: 100px;
    text-align: left;
    cursor: pointer;
}
.back-btn:hover {
    background-color: gold;
}