:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

/*Grid Container*/

#grid_container {
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows:auto auto 1fr;
    gap:10px;
    min-height: 80vh;
    margin: 20px;
}

header {
    grid-column: 1 / 3;
    background-color: rgba(0,0,0,0.1);
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

/* Navgation Elements */

nav {
    grid-column: 1 / 3;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 10px;
}

nav ul {
    display: flex;   
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

nav ul a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav a:hover{
    color: green;
}
/* Main Contents */
#section1 {
    grid-column: 2 / 3;
    background-color: rgba(0,0,0,0.5);
    padding: 15px;
    border-radius: 10px;
}
/* Aside Element */
aside {
    grid-column: 1/2;
    background-color: rgba(232,232,232,0.8);
    padding: 15px;
    border-radius: 10px;
}

footer {
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
}

th, td {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}

/* Responsive Design For Smaller Screens */

@media (max-width: 300px) {
    #grid_container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    #section1, aside {
        grid-column: 1/2;
    }
}
