:root {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

#grid_container {
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto 1fr;
    gap: 15px;
    min-height: 80vh;
    margin: 20px;
}

header {
    grid-column: 1 / 3;
    background-color: #1c1c1c;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
}
nav {
    grid-column: 1 / 3;
    background-color: #2a2a2a;
    padding: 12px;
    border-radius: 12px;
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav li a {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
    transition: 0.3s ease;
}

nav a:hover {
    color: #00c3ff;
}
section {
    grid-column: 2 / 3;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 12px;
}

section h2 {
    margin-top: 0;
}

aside {
    grid-column: 1 / 2;
    background-color: #242424;
    padding: 20px;
    border-radius: 12px;
}

aside ul {
    padding-left: 20px;
}

aside li {
    margin-bottom: 8px;
}

footer {
    background-color: #1c1c1c;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
}

ul {
    list-style: none;
    padding: 0;
    text-decoration: none;
    
}

@media(max-width:1040px) {
    #grid_container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    section, aside { grid-column: 1 / 2;
    }
}

